<div class="container-xxl flex-grow-1 container-p-y">
  <div  class="para">
    <h4 class="fw-bold py-3 mb-4" > Paramétrage l'accès à la base de données</h4>
  </div>

  <div class="row">

    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form  style="font-size:12px;">

            <h4 class="fw-bold py-3 mb-4">
           <img
              src="../assets/img/logos/admin-icon.png" width="35"/>
              <span class="text-muted fw-light">  Administration de l'interface Restonet</span>
            </h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label">Type de serveur de base de données</label>
                <div class="col-sm-4">
                  <select class="form-select" id="exampleFormControlSelect0" aria-label="INTERBASE">
                    <option selected="" value="INTERBASE">INTERBASE </option>
                    <option selected="" value="ORACLE">ORACLE</option>
                  </select>
                </div>
              </div>


            <h5 class="fw-bold py-3 mb-4" style="text-decoration-color: #20c997">
              <span class="text-muted fw-light">Propriétés</span> </h5>

                          <div class="row mb-3">
                            <label class="col-sm-6 col-form-label" >Protocole</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="TCP"  value="TCP" />
                            </div>
                          </div>

                          <div class="row mb-3">
                            <label class="col-sm-6 col-form-label" >Port de communication</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="PORT"  VALUE="1521" />
                            </div>
                          </div>

                          <div class="row mb-3">
                            <label class="col-sm-6 col-form-label" >Nom ou IP de l'hote</label>
                            <div class="col-sm-4">
                              <input type="time" class="form-control" id="HOTE"  value="SRVORASM"  />
                            </div>
                          </div>

                          <div class="row mb-3">
                            <label class="col-sm-6 col-form-label" >Service</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="XE"  value="XE" />
                            </div>
                          </div>


<br>
            <div class="row justify-content-end">
              <div class="col-sm-7">
                <button class="button-34" role="valider">Valider</button>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>
</div>
</div>
