<div class="card text-center" style="max-width: 800px; margin: auto;">
  <div class="card-body">
    <a class="btn btn-light-info retour1 mb-6" [routerLink]="['/login']"><i class="bx bx-arrow-back"></i></a>

    <div class="px-1 ms-xl-3 logo-container mb-8">
      <img src="../../../assets/img/logos/restonet.jpg" alt="Logo image">
    </div>
    <h5 class="card-title fw-semibold mb-4">Changer votre mot de passe</h5>
    <div class="password-form-container">
      <div class="password-form border p-3 text-start">
        <form (submit)="onSubmit()">
          <label for="client" class="form-label">Votre identifiant RestoNet</label>
          <input type="text" class="form-control me-3 mb-7" id="client" placeholder="Code client" name="client" [formControl]="clientControl">

          <label for="newPassword" class="form-label">votre nouveau password</label>
          <input type="password" class="form-control me-3 mb-7" id="newPassword" placeholder="Nouveau password" name="newPassword" [formControl]="newPasswordControl">

          <div  class="text-center">
            <button type="submit" class="btn btn-warning">Changer Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
