<div class="container-xxl flex-grow-1 container-p-y">
  <div  class="para">
    <h4 class="fw-bold py-3 mb-4" > Administration RestoNet</h4>
  </div>
  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form  style="font-size:12px;">
            <h4 class="fw-bold py-3 mb-4"><img
              src="../assets/img/logos/admin-icon.png" width="35"/><span class="text-muted fw-light">       Administration</span> </h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Activer la trace texte des connexions RestoNet</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio91" value="option1">
                  <label class="form-check-label" for="inlineRadio91">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio92" value="option2">
                  <label class="form-check-label" for="inlineRadio92">Non</label>
                </div>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Activer la trace texte des connexions RestoNet</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio41" value="option1">
                  <label class="form-check-label" for="inlineRadio41">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio42" value="option2">
                  <label class="form-check-label" for="inlineRadio42">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Désactivation au bout de (mn)</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="val1"  value="0" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Bloquer l'accès à RestoNet sur une tranche horaire</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio46" value="option1">
                  <label class="form-check-label" for="inlineRadio46">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio47" value="option2">
                  <label class="form-check-label" for="inlineRadio47">Non</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" >Si Oui entre </label>
              <div class="col-sm-4">
                <input type="time" class="form-control" id="time1"  VALUE="16:00" />
              </div>

              <label class="col-sm-1 col-form-label" >et </label>
              <div class="col-sm-4">
              <input type="time" class="form-control" id="time2"  VALUE="17:30" />
              </div>
            </div>

            <br>
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Adresses email zone de contact</span></h4>

            <div class="p-3 border">
              <h6 class="fw-bold py-3 mb-4 contact"  > Contact 1 :</h6>
            <div class="row mb-3 ">
              <label class="col-sm-6 col-form-label" >Activer contact 1</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio45" value="option1">
                  <label class="form-check-label" for="inlineRadio45">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio66" value="option2">
                  <label class="form-check-label" for="inlineRadio66">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Texte</label>
              <div class="col-sm-4">
                <textarea class="form-control" aria-label="Text1" placeholder="Text1"></textarea>
              </div>
            </div>

            <div class="row mb-3">
              <label for="email" class="col-sm-6 col-form-label" >Email</label>
              <div class="col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  id="email"
                  name="email"
                  placeholder="houda.test@inetum.com"
                />
              </div>
            </div>
</div>
<br>
            <div class="p-3 border">
            <h6 class="fw-bold py-3 mb-4 contact"  > Contact 2:</h6>
            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Activer contact 2</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio48" value="option1">
                  <label class="form-check-label" for="inlineRadio48">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio49" value="option2">
                  <label class="form-check-label" for="inlineRadio49">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Texte</label>
              <div class="col-sm-4">
                <textarea class="form-control" aria-label="Text2" placeholder="Text2"></textarea>
              </div>
            </div>

            <div class="row mb-3">
              <label for="email" class="col-sm-6 col-form-label" >Email</label>
              <div class="col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  id="email2"
                  name="email"
                  placeholder="houda2.test@inetum.com"
                />
              </div>
            </div></div>
<br>
            <div class="p-3 border">
              <h6 class="fw-bold py-3 mb-4 contact"  >Contact 3 :</h6>
            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Activer contact 3</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option1">
                  <label class="form-check-label" for="inlineRadio5">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio51" value="option2">
                  <label class="form-check-label" for="inlineRadio51">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Texte</label>
              <div class="col-sm-4">
                <textarea class="form-control" aria-label="Text3" placeholder="Text3"></textarea>
              </div>
            </div>


            <div class="row mb-3">
              <label for="email" class="col-sm-6 col-form-label" >Email</label>
              <div class="col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  id="email3"
                  name="email"
                  placeholder="houda3.test@inetum.com"
                />
              </div>
            </div></div>
 <br>


            <div class="row justify-content-end">
              <div class="col-sm-7">
                <!-- HTML !-->
                <button class="button-34" role="valider">Valider</button>
              </div>
            </div>


            <!-- HTML !-->



          </form>
        </div>
      </div>
    </div>
  </div>
</div>
