<div class="container-xxl flex-grow-1 container-p-y">
  <div  class="para">
    <h4 class="fw-bold py-3 mb-4" > Paramètres généraux</h4>
  </div>
  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form  style="font-size:12px;">

            <div class="row mb-3">
              <img class="BMKAM" src="../assets/img/logos/BKMA.png">
            </div>

            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" for="basic-default-name">Nom du site</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="basic-default-name" value="RestoNet.com" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" for="basic-default-footer">Text du bandeau bas de page</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="basic-default-footer" value="© RestoNet 2024" />
              </div>
            </div>



            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" for="basic-default-footer">Type de serveur HTTP</label>
              <div class="col-sm-6">
                <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                  <option selected="" value="1">Apache</option>
                  <option value="2">Microsoft IIS</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" for="basic-default-install">Chemin d'installation de RestoNet</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="basic-default-install" value="C:/Apache24/htdocs/Restonet" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" for="basic-default-footer">Adresse web du site</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="basic-default-adresse" value="http://localhost/RESTONET/V3.3/" />
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" for="basic-default-footer">Activer la version multilangue</label>
              <div class="col-sm-6">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>



            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" for="basic-default-footer">Langue par défaut</label>
              <div class="col-sm-6">
                <select class="form-select" id="langue" aria-label="Default select example">
                  <option selected="" value="1">Français</option>
                  <option value="2">Anglais</option>
                  <option value="3">Italien</option>
                </select>
              </div>
            </div>


            <div class="row justify-content-end">
              <div class="col-sm-7">
                <!-- HTML !-->
                <button class="button-34" role="valider">Valider</button>
              </div>
            </div>


            <!-- HTML !-->




          </form>
        </div>
      </div>
    </div>
  </div>
</div>
