<div class="container-xxl flex-grow-1 container-p-y">
  <div  class="para">
    <h4 class="fw-bold py-3 mb-4" > Paramétrage accès à RestoNet</h4>
  </div>
  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form  style="font-size:12px;">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Identification</span> </h4>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="exampleFormControlSelect0">Type d'identification</label>
              <div class="col-sm-4">
                <select class="form-select" id="exampleFormControlSelect0" aria-label="Standard (saisie du login/mdp)">
                  <option selected="" value="1">Standard (saisie du login/mdp)</option>
                  <option selected="" value="2">Variable INTRANET</option>
                  <option value="3">LDAP / Active Directory</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="exampleFormControlSelect1">Mode d'identification</label>
              <div class="col-sm-4">
                <select class="form-select" id="exampleFormControlSelect1" aria-label="Code Client">
                  <option selected="" value="1">Matricule</option>
                  <option value="2">Numero de badge</option>
                  <option value="2">Code Client</option>
                  <option value="2">Email</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="basic-default-name">Libellé identifiant</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="basic-default-name"  value="Identifiant (Client)" />
              </div>
            </div>
            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Administrateur</span></h4>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="loginadmin">Login administrateur</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="loginadmin" value="Administrateur" />
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="mdpadmn">Mot de passe administrateur</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="mdpadmn" value="a.123" />
              </div>
            </div>



            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Gestionnaires</span></h4>
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="logingest1">Login gestionnaire 1</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="logingest1" value="gil1" />
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="mdpgest1">Mot de passe gestionnaire 1</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="mdpgest1" value="a.123"  />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="logingest2">Login gestionnaire 2</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="logingest2" value="vroubaix2" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="mdpget2">Mot de passe gestionnaire 2</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="mdpget2" value="4048" />
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="logingest3">Login gestionnaire 3</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="logingest3" value="gil2" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-3 col-form-label" for="mdpgst3">Mot de passe gestionnaire 3</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="mdpgst3" value="4048" />
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-sm-7">
                <!-- HTML !-->
                <button class="button-34" role="valider">Valider</button>
              </div>
            </div>

            <!-- HTML !-->



          </form>
        </div>
      </div>
    </div>
  </div>
</div>
