<div class="container-xxl flex-grow-1 container-p-y">
  <br>
  <div  class="para">
    <h4 class="fw-bold py-3 mb-4" > Approvisionnement de compte</h4>
  </div>
  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form  style="font-size:12px;" >
            <h4 class="fw-bold py-3 mb-4"><img
              src="../assets/img/logos/admin-icon.png" width="35"/><span class="text-muted fw-light"> Approvisionnement de compte</span> </h4>

            <div class="collapse show" id="collapseExample" >
              <div class="d-grid d-sm-flex p-3 border">
                <img src="../assets/img/logos/paybox.png" alt="collapse-image" height="125" class="me-4 mb-sm-0 mb-2">
                <span style="font-size: medium; padding-top: 16px">
                  Cette interface vous permet d'approvisionner votre compte restaurant au travers
                   d'une plate forme WEB.
                   Pour ce faire, il vous suffit de sélectionner le montant souhaité et de valider.
                   Après validation, vous serez redirigé vers la plate-forme de paiement ou vous devrez
                    saisir les informations de votre carte bancaire.
                </span>
              </div>
            </div>


            <br>


            <div class="col-lg-4 col-md-6">
              <div class="mt-3">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                  Lire les conditions générales
                </button>

                <!-- Modal -->
                <div class="modal fade" id="fullscreenModal" tabindex="-1" style="display: none;" aria-hidden="true">
                  <div class="modal-dialog modal-fullscreen" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalFullTitle">Conditions générales</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>
                          Le présent texte a pour objet de définir les modalités et conditions générales d'utilisation du service RestoNet entre le client et le présent site.
                        </p>
                        <p class="article">Article 1 : PRESTATIONS PROPOSEES</p>
                        <p>Pour accéder aux Services de RestoNet, l'utilisateur s'identifie et s'authentifie en utilisant un identifiant fourni et géré par RestoNet, ainsi qu'un mot
                          de passe personnel et confidentiel qu'il ne doit en aucun cas, et pour quelque raison que ce soit, divulguer à un tiers.</p>
                        <p>
                          L'utilisateur devra informer le service de restauration dans les plus brefs délais de tout risque potentiel ou avéré d'une utilisation par un tiers non autorisé
                          de son identifiant et/ou de son mot de passe.
                        </p>
                        <p>
                          L'utilisateur est seul responsable de la conservation confidentielle de son mot de passe et de toute utilisation qui pourrait en être faite.
                        </p>
                        <p>
                          L'offre de Services de RestoNet. est susceptible de modification à tout moment en raison de son caractère particulièrement évolutif dû à des facteurs extérieurs et indépendants de sa volonté. L'Utilisateur ne pourra pas faire valoir un quelconque préjudice à ce titre dès lors que
                          toute modification substantielle sera portée à sa connaissance sur le site.
                        </p>

                        <p class="article"> Article 2 : ACCES AU SERVICE</p>

                        <p>
                          L'accès au service est possible à compter du moment ou l'utilisateur possède un identifiant et un mot de passe. Le code d'accès est fourni à un seul client. Le client est responsable de la confidentialité du code d'accès transmis par RestoNet. et devra mettre tous les moyens en oeuvre
                          pour respecter et faire respecter l'intégrité et la confidentialité des informations communiquées.
                        </p>

                        <p>Le prestataitre ne pourra être tenu pour responsable en cas de non-respect de ces obligations par le client. Il se réserve le droit de faire toutes les modifications jugées nécessaires pour l'amélioration des
                          Informations et des services fournis.</p>

                        <p>Dans ce cas, il s'engage à informer préalablement le client des conséquences éventuelles entraînées par de telles modifications</p>

                        <p>L'accès au service RestoNet se fait à partir du micro-ordinateur de l'Utilisateur connecté au serveur de Intranet de l'entreprise par liaison téléphonique, liaison Numéris, cable ou satellite via le réseau Internet. L'Utilisateur est conscient que les performances du service dépendent en grande partie des caractéristiques
                          de son poste de travail, de son mode et du type de connexion choisi.</p>

                        <p>Il déclare être averti des caractéristiques et de la nature du réseau qu'il utilise pour se connecter au service RestoNet</p>

                        <p class="article">Article 3 : UTILISATION DES CODES D'ACCES</p>

                        <p>Le Code d'accès est personnel et confidentiel. Il ne peut être changé qu'après demande de l'Utilisateur auprès du service concerné (restauration, gestion du personnel…).</p>

                        <p>L'Utilisateur s'engage à conserver les éléments constitutifs de son Code d'accès et à ne pas le divulguer sous quelque forme que ce soit.</p>
                        <p> En cas de perte ou de vol de son Code d'accès, l'Utilisateur devra en informer immédiatement le service concerné et lui confirmer cette perte ou ce vol. Il est précisé que tout usage des Codes d'accès de l'Utilisateur se fait sous l'entière responsabilité de l'Utilisateur. L'Utilisateur est seul responsable de la conservation
                          du caractère confidentiel des Codes d'accès délivrés ou de ceux générés par lui.</p>


                        <p class="article" >Article 4 : ACCES AU SOLDE D'UN COMPTE</p>
                        <p> Une fois connecté au service, la page d'accueil propose à l'Utilisateur les informations relatives à son compte : Etat du solde, catégorie de client, email…..</p>

                        <p class="article">Article 5 : APPROVISIONNEMENT DU COMPTE</p>
                        <p>L'utilisation du service de PAYBOX est subordonnée à l'acceptation sans aucune réserve et au respect des présentes conditions générales.</p>

                        <p>Modalités de Paiement :</p>
                        <p>- L'accès à la page de paiement sécurisé implique l'acceptation des présentes Conditions Générales. Les prestations payantes sont réservées aux Clients disposant d'un nom d'Utilisateur et d'un mot de passe</p>
                        <p>- L'adresse e-mail, qui a été fournie par le client est l'adresse de facturation et de correspondance à laquelle le ticket de paiement (justificatif de paiement PAYBOX) sera adressé.</p>
                        <p>- Le paiement s'effectue par carte bancaire présentant le sigle CB, la marque Visa, Eurocard ou Mastercard. Les cartes émises dans le cadre de réseaux étrangers ou internationaux homologués par le GIE des Cartes Bancaires et dont PAYBOX peut obtenir les signes de reconnaissance auprès de la Banque.</p>
                        <p>- Le paiement est réalisé conformément aux Conditions Générales des organismes accrédités du système « PAYBOX ». Les données contenues dans le serveur de ce système de paiement constituent la preuve des transactions effectuées.</p>
                        <p>Tout approvisionnement enregistré ne sera valable que si il est validé par PAYBOX.</p>
                        <p>Les paiements se font exclusivement par carte bancaire via notre système de paiement sécurisé PayBox qui utilise le protocole SSL (Secure Socket Layer) de telle sorte que les informations transmises sont cryptées par un logiciel et qu'aucun tiers ne peut en prendre connaissance au cours du transport sur le réseau.</p>
                        <p>Cartes acceptées : Eurocard Mastercard, VISA, Maestro, VISA Electron.</p>
                        <p>Responsabilité</p>
                        <p>Le vendeur, dans le processus de vente en ligne, n'est tenu que par une obligation de moyens; sa responsabilité ne pourra être engagée pour un dommage résultant de l'utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.</p>

                        <p class="article">Article 6 : TRAITEMENT DE L'INFORMATION</p>
                        <p>Conformément aux dispositions de la Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, RestoNet fait l'objet d'une déclaration à la CNIL (Commission Nationale Informatique et Libertés). En vertu de la Loi «Informatique et Libertés» du 6 janvier 1978 modifiée, le Client dispose d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent.
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                          Masquer les conditions générales
                        </button>
                        <button type="button" class="btn btn-primary" (click)="acceptTerms()">{{ Isaccepted ? 'Je confirme l\'utilisation du service RestoNet' : 'Accepter les conditions générales' }}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-8 modela">
              <div class="card mb-4">
                <h5 class="card-header">Veuillez approvisionner votre compte :</h5>
                <div class="card-body">
                  <div>
                    <label for="defaultFormControlInput" class="form-label">Veuillez saisir votre adresse email :</label>
                    <input type="email" class="form-control" id="defaultFormControlInput" placeholder="houda.eddaoudi@inetum.com" [readOnly]="true">
                    <div id="defaultFormControlHelp" class="form-text">
                      Vous pouvez mettre à jour votre adresse email à partir de la page Infos compte.
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div>
                    <label for="defaultFormControlInput" class="form-label">Veuillez choisir le montant souhaité :</label>

                    <div>
                      <label cLabel for="formRange3" class="form-label">Montant - <strong>{{value}}</strong> DH</label>
                      <input [(ngModel)]="value"  [ngModelOptions]="{standalone: true}" cFormControl type="range" class="form-range" min="30" max="100" step="10" id="formRange3"/>
                    </div>

                  </div>
                </div>

                <div class="card-body">
                  <div>
                    <label for="defaultFormControlInput" class="form-label">Autre montant (entre 30 DH et 100 DH ) :</label>


                    <div class="input-group">
                      <span class="input-group-text">MAD</span>
                      <input type="text" class="form-control" placeholder="Amount" aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text">.00</span>
                    </div>

                  </div></div>

                <div class="row justify-content-center">
                  <div class="col-sm-4">
                    <!-- HTML !-->
                    <button class="btn btn-success active d-block  btonaa" role="valider">Valider</button>
                  </div>
                </div>
                <br>

              </div>

            </div>








            <!-- HTML !-->



          </form>
        </div>
      </div>
    </div>
  </div>
</div>
