<div class="container-xxl flex-grow-1 container-p-y">
  <div  class="para">
    <h4 class="fw-bold py-3 mb-4" > Paramétrage des interfaces</h4>
  </div>
  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form  style="font-size:12px;">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Fiche Clients</span> </h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="basic-default-name">Nombre de jours consultation historique</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="basic-default-name"  value="90" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Afficher les tickets spécifique dans l'historique (MP / AP / ZP) </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Forcer le changement du mot de passe à la première connexion </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Afficher le solde points </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Afficher option impression ticket </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Afficher les deux dernières consommations mensuelles  </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio9" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio10" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Afficher la date de dernier passage</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio11" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio12" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Gestion des emails</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio13" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio14" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>


            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Changements de mode de paiement</span></h4>
            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Autoriser les changements pour le pré-paiement</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio17" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio18" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Autoriser les changements pour le post-paiement </label><br>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio15" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio16" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Poste associé pour les mouvements</label>
              <div class="col-sm-4">
                <select class="form-select" id="langue" aria-label="Caisse Régie">
                  <option selected="" value="1">Caisse Régie</option>
                  <option value="2">Caisse self</option>
                  <option value="3">Gestion</option>
                  <option value="3">Serveur / Pop And Pay</option>
                </select>
              </div>
            </div>


            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Gestion des invitations</span></h4>
            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Pouvoir effectuer des demandes d'invitations </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio22" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio23" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Zone de contact</span></h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Activation de la zone de contact </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio21" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio19" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>


            <div class="form-check form-switch 2">
              <div class="form-check form-check-inline col-sm-2">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
              <label class="form-check-label" for="flexSwitchCheckDefault"
              >Lien direct</label>
              </div>

              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
              <label class="form-check-label" for="flexSwitchCheckChecked"
              >Texte seul</label
              >
              </div>
            </div>

            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Activation du lien paramétrable</span></h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Activation</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio25" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio26" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Libellé du lien</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="lien-libelle"  value="Google" />
              </div>
            </div>


            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Affichage des menus / informations restaurants</span></h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Activation</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio27" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio28" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Accessible depuis la page d'accueil </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio29" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio30" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Libellé du bouton</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="lien-libelle1"  value="Infos" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Gestion de fichiers multiples </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio31" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio32" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>


            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Cahier de suggestions</span></h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Activer le cahier de suggestions </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio33" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio34" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="exampleFormControlSelect0">Visibilité</label>
              <div class="col-sm-4">
                <select class="form-select" id="exampleFormControlSelect0" aria-label="Tous les messages sont publics">
                  <option selected="" value="1">Tous les messages sont publics</option>
                  <option selected="" value="2">Tous les messages sont privés</option>
                  <option value="3">L'utilisateur choisit</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Gestion des suggestions / réponses par email </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio35" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio36" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Cahier accessible sur page accueil de Restonet  </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio37" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio38" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label for="email" class="col-sm-6 col-form-label" >Adresse email de reception des suggestions</label>
              <div class="col-sm-4">
              <input
                class="form-control"
                type="text"
                id="email"
                name="email"
                value="houda.test@inetum.com"
                placeholder="houda.test@inetum.com"
              />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Objet message reception</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="lien-libelle3"  value="Message reception email" />
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Objet message de réponse</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="lien-libelle4"  value="Message reponse email" />
              </div>
            </div>


            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Envoi de mails</span></h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Autoriser l'envoi de mails</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio39" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio40" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Adresse du serveur SMTP</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="lien-libelle5"  value="@ SMPT " />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Port serveur SMTP</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="lien-libelle6"  value="25 " />
              </div>
            </div>

            <div class="row mb-3">
              <label for="email" class="col-sm-6 col-form-label" >Adresse Envoi</label>
              <div class="col-sm-4">
                <input
                  class="form-control"
                  type="text"
                  id="email1"
                  name="email1"
                  value="houda.test@inetum.com"
                  placeholder="houda.test@inetum.com"
                />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Authentification utilisateur</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio41" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio42" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Utilisateur</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="lien-libelle18"  value="admin" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Mot de passe</label>
              <div class="col-sm-4">
              <input type="password" class="form-control" id="lien-libelle28" id="pwd" value="..." name="pwd">
              </div>
            </div>

            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Statistiques / informations convives</span></h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Activer les statistiques</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio43" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio44" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="inlineRadio1">Authentification utilisateur</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio45" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio46" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="delai">Délai de rafraichissement</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="delai"  value="5" />
              </div>
            </div>

            <h4 class="fw-bold py-3 mb-4"> <span class="text-muted fw-light">Autres fonctions</span></h4>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" >Activer l'affichage de la zone info</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="affichage1" value="option1">
                  <label class="form-check-label" for="affichage1">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="affichage" value="option2">
                  <label class="form-check-label" for="affichage">Non</label>
                </div>
              </div>
            </div>


            <div class="row justify-content-end">
              <div class="col-sm-7">
                <!-- HTML !-->
                <button class="button-34" role="valider">Valider</button>
              </div>
            </div>
            <!-- HTML !-->



          </form>
        </div>
      </div>
    </div>
  </div>
</div>
