<div class="container-xxl flex-grow-1 container-p-y">
  <div  class="para">
    <h4 class="fw-bold py-3 mb-4" > Paramétrage réservation de repas</h4>
  </div>
  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <form  style="font-size:12px;">

            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Réservation de repas RESEDA</span> </h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Activer la réservation de repas par RESEDA </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio22" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio23" value="option2">
                  <label class="form-check-label" for="lien-libelle">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="exampleFormControlSelect0">Version de la carte repas</label>
              <div class="col-sm-4">
                <select class="form-select" id="exampleFormControlSelect0" aria-label="Carte repas 2">
                  <option selected="" value="1">Carte repas 2 </option>
                  <option selected="" value="2">Carte repas 3</option>
                </select>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="exampleFormControlSelect0">Poste associé pour la réservation</label>
              <div class="col-sm-4">
                <select class="form-select" id="exampleFormControlSelect1" aria-label="Caisse régie">
                  <option selected="" value="1">Caisse régie </option>
                  <option selected="" value="2">Caisse self</option>
                  <option selected="" value="2">Gestion</option>
                  <option selected="" value="2">Serveur / Pop And Pay</option>
                </select>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Activer la réservation de repas de groupes</label>
              <div class="col-sm-4">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio43" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio53" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Pouvoir sélectionner plusieurs sections</label>
              <div class="col-sm-4">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio42" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio52" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Nombre de semaines accessibles pour le calendrier</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="lien-libelle"  value="6" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Nombre de jours pour consultation des repas réservés</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="lien-libelle5"  value="7" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Prendre en compte le calendrier hebdomadaire de RECO</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio41" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio51" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="exampleFormControlSelect0">Sur le code service</label>
              <div class="col-sm-4">
                <select class="form-select" id="exampleFormControlSelect12" aria-label="Caisse régie">
                  <option selected="" value="1">GEST</option>
                  <option selected="" value="2">MIDI</option>
                  <option selected="" value="2">REGIE</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Notion de "Section" dans RECO</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="lien-libelle51"  value="Lieu du repas" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Autoriser les invitations </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Saisie du nombre d'invités</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio61" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio71" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Afficher les tarifs des prestations</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio62" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio72" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Permettre la saisie des quantités des prestations </label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio63" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio73" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Controler le solde du client</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio64" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio74" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Controler le solde du client par valeur moyenne</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio65" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio75" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Réservation sur stocks</span> </h4>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Activer la réservation sur STOCKS</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio69" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio79" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Heure début réservation</label>
              <div class="col-sm-4">
                <input type="time" class="form-control" id="lien-libelle53"  VALUE="07:00" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Heure fin réservation</label>
              <div class="col-sm-4">
                <input type="time" class="form-control" id="lien-libelle54"  value="19:00"  />
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Tester si le solde est suffisant</label>
              <div class="col-sm-2">
                <div class="form-check form-check-inline mt-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio66" value="option1">
                  <label class="form-check-label" for="lien-libelle">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio76" value="option2">
                  <label class="form-check-label" for="inlineRadio22">Non</label>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="exampleFormControlSelect0">Section de réservation</label>
              <div class="col-sm-4">
                <select class="form-select" id="exampleFormControlSelect9" aria-label="test test ">
                  <option selected="" value="1">test test  </option>
                  <option selected="" value="2">test test </option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="exampleFormControlSelect0">Service de réservation</label>
              <div class="col-sm-4">
                <select class="form-select" id="exampleFormControlSelect15" aria-label="Caisse régie">
                  <option selected="" value="1">GEST</option>
                  <option selected="" value="2">MIDI</option>
                  <option selected="" value="2">REGIE</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Libellé du lien du menu</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="lien-libelle58"  value="ReservationLieu du repas" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-6 col-form-label" for="lien-libelle">Seuil d'alerte stock</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="lien-libelle59"  VALUE="15" />
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-sm-7">
                <!-- HTML !-->
                <button class="button-34" role="valider">Valider</button>
              </div>
            </div>


            <!-- HTML !-->



          </form>
        </div>
      </div>
    </div>
  </div>
</div>
